

img{
    width: 200px;
}
.mice-container{
    display: flex;
    overflow-x: auto;
    padding: 20px;
    div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

.transaction-floaters {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 15%;
    color: white;

    .floater-top {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    .floater-bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;
        font-size: 10px;

        span {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            flex: 0 0 33%;
        }
    }

    a {
        color: white;
    }

    .transaction-floater {
        background-color: black;
        border: 2px solid white;
        border-radius: 20px;
        font-family: "Harman-Sans";
        justify-content: space-between;
        padding: 12px 18px;

        .transaction-timer {
            display: flex;
            justify-content: center;
            align-items: center;

            span {
                min-width: 25px;
            }
        }

        .remove-transaction {
            cursor: pointer;
        }
        .floater-item {
            margin: 0px 5px;

            .title {
                font-size: 15px;
                text-align: center;
            }
            .status {
                font-size: 10px;
                text-align: center;
            }
        }
    }
}
